@mixin container($wd:90%, $mwd:50em, $hg:inherit){
  width: $wd;
  margin: 0 auto;
  max-width: $mwd;
  height: $hg;
}

@mixin clearfix(){
  &::after, &::before{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mq($width: 55em){
  @media (min-width: $width) {
    @content;
  }
}