.contact{
  @include container($mwd:70em);
  padding: 5em 0;
  
  h1 {
    text-align: center;
  }
}

  form {
    display: flex;
    flex-direction: column;
    
    @supports (display: grid){
      @include mq {
        display: grid;
        gap:1em;
        grid-template-areas: 
          "name      email"
          "message   message"
          "   .      button";
          
          .name{
            grid-area: name;
          }
          .email{
            grid-area: email;
          }
          .message{
            grid-area: message;
            textarea{
              height: 12em;
            }
          }
          .button{
            grid-area: button;
          }
      }
    }
  }

label {
  display: block;
  width: 100%;
  margin-top: 1em;
  color: $dark-gray;
}

input,textarea {
  display: block;
  padding: .5em 0;
  width: 100%;
  background: lighten($light-gray, 7%);
  border: 1px solid $gray;
  font-size: 1.2rem;
}

.button{
  display: block;
  width: auto;
  margin-top: 1em;
  margin-left: auto;
  background: $accent;
  border: none;
  color: $white;
  @include sans-serif($fs:2.5rem, $color:$white);
  padding: .5em 1.5em;
}